<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	
h1 {
	padding-top: 100px;
  margin: 35px;
}
	
</style>
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/sightings/carousel.css">
      <title>Welcome to Squirrel Tracker</title>
</head>
<body>
      <header class="site-header">
     <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #f18973">
       <div class="container">
         <a class="navbar-brand mr-4" href>NYC Squirrel Tracker</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarsExampleDefault">
           <div class="navbar-nav mr-auto">
             <a class="nav-item nav-link" href="../../">Home</a>
             <a class="nav-item nav-link" href="/map/">Map</a>
             <a class="nav-item nav-link" href="/sightings/">List of Squirrels</a>
             <a class="nav-item nav-link" href="/sightings/add/">Add A Squirrel</a>
        <a class="nav-item nav-link" href="/sightings/stats/">Stats of Squirrels</a>
           </div>
       </div>
   </div>
</nav>
</header>
<main>
	<div class= "container">
		<h1 class="display-2">Squirrel Sighting Info
	</h1>
	<p class="lead">
  Spot a squirrel? Add a sighting! You're doing many of us a favor.
</p>
</div>
<form method = "POST">
	{% csrf_token %}

	{{ form.as_p }}
  <input class="btn btn-primary" type="submit" name="Add!" value="Add!">
</form>

	
	
</main>

</body>
</html>