<!DOCTYPE html>
<html>
   <head>
      <title>Squirrel Statistics Overview</title>
   </head>
   <body>
      <h1>Frequencies</h1>
      <h2>Total Squirrel Sightings: <span style="color:black">{{total_squirrels}}</span></h2>
      <ul style="list-style-type:disc">
	 <li>Number spotted by color of primary coat:<span style="color:black"> {{colors}}</span></li>

	 <li>Number spotted by time of day:<span style="color:black"> {{daytime}}</span></li>
	 <li>Number spotted by age category:<span style="color:black"> {{squirrel_age}}</span></li>

	 <br>
   </body>
   <div style=font-size:12px, align = 'right'></div>
</html>

